body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
#root {
	display: flex;
	flex-direction: column;
}
/* HEADER */
header {
	background-color: #4b5563;
	color: white;
	min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
}
.score-board {
	position: absolute;
	top: 0px;
	right: 20px;
}
header h1 {
	font-size: 3em;
}
/* MAIN */
main {
	background-color: #d1d5db;
	flex-grow: 2;
	padding: 20px;
}
.card-container {
	display: grid;

	gap: 30px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card-item {
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 300px;
	align-items: center;
	padding: 10px;
	border: 3px solid #333333;
	border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
}
.card-img {
	width: 200px;
	height: 250px;
	border: 1px solid black;
}
/* FOOTER */
footer {
	background-color: #374151;
	color: white;
	text-align: justify;
	padding: 30px;
	min-height: 150px;
	display: flex;
	flex-direction: column;
}
.instruction {
	display: block;
	flex-grow: 2;
}
.copyright {
	text-align: center;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d1d5db;
}
